{% extends 'main/base.html' %}
{%block title%}Смена пороля{% endblock %}

{% block content %}
<h2>Смена пароля пользователя {{user.username}}</h2>
<form method="post" class="box">
    <div class="main_welcom">
        <div class="reg_form">
            {% csrf_token %}
            <h2 style="margin-top: 25px;">Старый пароль</h2>
            {{ form.old_password }}
            <h2>Новый пароль</h2>
            {{ form.new_password1 }}
            <h2>Подтвердите новый пароль</h2>
            {{ form.new_password2 }}
            <div class="mb-3" style="margin-top: 45px;">
                <button type="submit" class="btn btn-success">Изменить пароль</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}