{% extends 'main/base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>Регистрация нового пользователя</h2>
    <form method="post" class="box">
        <div class="main_welcom">
            <div class="reg_form">
                {% csrf_token %}
                <div class="alert alert-info" role="alert">
                * - обязательные поля
                </div>
                <h2 style="margin-top: 25px;">Логин*</h2>
                {{ form.username }}
                <h2>Почта*</h2>
                {{ form.email }}
                <h2>Пароль*</h2>
                {{ form.password1 }}
                {{ form.password1.help_text }}
                {{ form.password1.errors }}
                <h2>Подтвердите пароль*</h2>
                {{ form.password2 }}
                {{ form.password2.errors }}
                <h2>Имя*</h2>
                {{ form.first_name }}
                <h2>Фамилия*</h2>
                {{ form.last_name }}
                <label class="check option" style="min-width: auto; margin: auto; margin-top: 45px;">
                    {{ form.send_messages }}
                    <span class="check__box"></span>
                    <span class="check__info">Отправлять уведомления</span><br><br>
                </label>
                <br>
                <h2 style="margin-top: 0;">Аватар</h2>
                {{ form.image }}
            </div>
                <div class="mb-3" style="margin-top: 45px;">
                <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}