  <div id = "coment{{ coment.id }}">
    <p style = "border-style: groove; margin-bottom: 10px;margin-top: 10px;" >
        добавил: {{ coment.user.username }} <br/>
        Время и дата:{{ coment.data_time }} <br/>
        Сам текст:<samp id = "coment_edit_text{{ coment.id }}">  {{ coment.text }} </samp> <br/>
        {% if coment.user.id == user.id %}


            <input type="submit" value = "Удалить" onclick="delete_coment('delete_coment/{{ coment.id }}/{{ id_recipe }}','coment{{ coment.id }}' )">
            <samp id = "coment_edit_botton{{ coment.id }}" >
            <input type="button" value = "Редактировать" onclick="step_1_edit_coment('coment_edit_botton{{ coment.id }}','coment_edit_text{{ coment.id }}', 'delete_coment/{{ coment.id }}/{{ id_recipe }}','coment{{ coment.id }}')"> <br/>
            </samp>


        {% endif %}
    </p>
  </div>

