{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block script %}
    function switch_to_page(page_number){
        document.getElementById("search_bar").action = "/?page="+page_number
        document.getElementById("submit_send_search").click()

    }
{% endblock %}
{% block content %}
<h1>{{ heading }}</h1>
<div class="main_welcom">
    <form method="post" class="box" id = "search_bar" >
        <div class="main_center">
        {% csrf_token %}
            <div class="form_left">
                <input type="hidden" name="form_type" value="form_1">
            </div>
            <div class="form_left">
                {{ form.selection_meal }}
            </div>
            <div class="form_left">
                {{ form.selection_complexity }}
            </div>
            <div class="form_left">
                {{ form.selection_cooking_time }}
            </div>
            <input type = "input" name = "ingredients" value="{{ old_ingredients }}">
            <div class="text_right">
                <div class="mb-3">
                    <button type="submit" class="btn btn-success" name=""  id = "submit_send_search">Принять</button>
                </div>
            </div>
        </div>
    </form>

    <div class="main_welcome">
        {% for el in all_recipe %}
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h5><a href="{% url 'view_recipe' el.pk %}" style="color: black;">{{ el.name }}</a></h5>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="{% url 'view_recipe' el.pk %}">
                            <img src='{{ el.image.url }}'
                                 class="img-fluid"
                                 style="width: 570px; height: 97%;">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush" style="font-size: 19px;">
                            <li class="list-group-item">{{ el.meal_type }}</li>
                                    <li class="list-group-item">Сложность: {{ el.complexity }}</li>
                                    <li class="list-group-item">Время приготовления:
                                        {% if el.hours <= 9 %}0{% endif %}{{ el.hours }}:{% if el.minutes <= 9 %}0{% endif %}{{ el.minutes }}</li>
                            {% for curr_rate in all_rating %}
                                {% if curr_rate.recipe_id == el %}
                                    <li class="list-group-item">Ваш рейтинг: {{ curr_rate.rating }}</li>
                                {% endif %}
                                {% if not curr_rate.recipe_id in all_recipe and user == curr_rate.user %}
                                    <li class="list-group-item">Вы не оценили:</li>
                                {% endif %}
                            {% endfor %}
                            <li class="list-group-item">Общий рейтинг:{{ el.rating.rating }}</li>
                        </ul>
                        <button type="button" class="btn btn-primary" style="color: white; width: 110px; height: 50px;
margin-top: 20px;"
                           onclick="window.location.href='{% url 'view_recipe' el.pk %}'">Перейти</button >
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <h2> Пагинация </h2>
       <h3 align="center">
        {% for a in paginations.num_pages|get_range_without_zero %}
            <small onclick="switch_to_page({{ a }})">{{ a }}</small> |
        {% endfor %}
       </h3>

{% endblock %}
